body {
    margin: 0;
}

.nav {
    width: 1450px;
    height: 95px;
    background: #CC0633;    
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 2rem; */
    padding: 0 1rem;
}

.title {
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}